<%- include('../partials/header') %>
<table>
    <thead>
      <tr>
        <th>Team name</th>
        <th>Base of Operations</th>
        <th>First Driver</th>
        <th>Second Driver</th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(function(team) { %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.location %></td>
          <% team.drivers.forEach(function(driver) { %>
          <td><%= driver.name %></td>
          <% }) %>
          <td><a href="/teams/<%= team._id %>">DETAILS</a></td>
          <td><form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
          </td>
        </tr>
      <!-- Close the forEach using EJS here -->
      <% }) %>
    </tbody>
  </table>












<%- include('../partials/footer') %>