<%- include('../partials/header') %>

<section id="show-page">
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Base of Operations</th>
        <th>Current Number of Drivers</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.location %></td>
          <td><%= team.drivers.length %></td>
        </tr>
    </tbody>
  </table>
</section>
<% if (team.drivers.length) { %>
<table>
    <thead>
      <tr>
        <th>Driver Name</th>
        <th>Driver Age</th>
        <th>Home Nation</th>
      </tr>
    </thead>
    <tbody>
        <% team.drivers.forEach(function(driver) { %>
        <tr>
          <td><%= driver.name %></td>
          <td><%= driver.age %></td>
          <td><%= driver.homeCountry %></td>
          <td>
            <% if (user && user._id.equals(driver.user)) { %>
              <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
          <% }) %>
        </tr>
    </tbody>
  </table>
  <% } %>
  <% if (user) { %>
<br><br><h2>Add a Driver</h2>
<form id="add-driver-form" method="POST"
  action="/teams/<%= team._id %>/drivers">
  <label>Driver Name:
  <input type="text" name="name">
  </label><br>    
  <label>Driver Age:
    <input type="number" name="age">
  </label><br>
  <label>Home Nation:
    <input type="text" name="homeCountry">
  </label><br>    
  <input type="submit" value="Add Driver">
</form>
<% } %>

  
<%- include('../partials/footer') %>